@rendermode InteractiveWebAssembly

<div class="comment-structure">
    <div class="structure-item comment-item">
        <div class="item-icon">
            <i class="bi bi-chat-dots text-muted"></i>
        </div>
        <div class="item-content">
            <div class="item-main">
                <span class="comment-text">@Comment.Comment</span>
            </div>
            <div class="item-meta">
                <small class="text-muted">Line @Comment.LineNumber</small>
            </div>
        </div>
    </div>
</div> 