@inherits LayoutComponentBase
<div class="page">
    <div class="content-wrapper">
        <main>
            <div class="top-row px-4">
                <div class="wow-header">
                    <span class="wow-icon">⚙️</span>
                    <span class="wow-text">WoW Macro Editor</span>
                </div>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
    
    <Footer />
</div>
