body{
    height: 100%;
    overflow: hidden;
}

.body-stack{
    flex-direction: row;
}

.siteheader {
    background-color: var(--neutral-layer-4) !important;
    border-bottom: calc(var(--stroke-width) * 2px) solid var(--accent-fill-rest);
    margin-bottom: 0 !important;
    height: 66px !important;
    user-select: none;
}

.siteheader h5 {
    margin-left: 1rem;
}

.siteheader .logo {
    width: 44px;
    height: 44px;
    grid-column: 1;
}

.siteheader .search {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.siteheader .links {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.siteheader .notifications {
    display: flex;
    align-items: center;
}

.siteheader .settings {
    padding-right: 6px;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 10px;
}

[dir="rtl"] .siteheader .settings {
    padding: 0 0 0 6px;
    margin-left: 10px;
    margin-right: 0;
}

[dir="rtl"] .siteheader .search {
    padding-left: 20px;
    padding-right: 0;
}

[dir="rtl"] .siteheader .links {
    padding-left: 10px;
}

.search-result-icon {
    vertical-align: middle;
}

nav.sitenav {
    padding: 1.5rem 1rem;
    height: calc(100dvh - 90px);
    width: 20rem;
    overflow-y: auto;
}

nav h2 {
    font-size: var(--type-ramp-plus-1-font-size);
    line-height: var(--type-ramp-plus-1-line-height);
    padding: 15px 0;
    margin: 0;
    pointer-events: none;
}

nav h3 {
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-minus-1-line-height);
    padding: 10px 0;
    margin: 0;
    pointer-events: none;
}


nav fluent-anchor {
    width: 100%;
    color: var(--fill-color);
}

nav fluent-anchor::part(control) {
    justify-content: start;
    background: var(--accent-fill-rest);
}


.fluent-nav-link.notactive .fluent-nav-text {
    font-weight: 600 !important;
}

#navmenu-toggle {
    display: none;
}

.navmenu-icon {
    display: none;
}

#navmenu-toggle:checked > nav {
    width: 0px;
}

article {
    padding: 1.5rem 1rem;
    border-right: 1px solid var(--neutral-stroke-divider-rest);
    margin: 0 0;
    width: calc(100% - 1rem);
}

.content {
    display: flex;
}

.macro-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 1rem;
}

fluent-text-area::part(control) {
    height: 100%; /* Make it take full height */
    width: 100%;  /* Ensure it spans the width */
}

@media (max-width: 767px) {

    .siteheader {
        grid-area: header;
        grid-template-columns: 150px 1fr;
        align-items: center;
        justify-content: flex-start;
    }

    .siteheader .search {
        display: none;
    }

    .siteheader .logo {
        width: 160px;
        height: 23px;
        /*padding: 0 25px;*/
    }


    .body-stack {
        flex-direction: column !important;
    }

    nav.sitenav {
        width: 100%;
        height: calc(100dvh - 50px);
    }

    .navmenu {
        width: 100%;
    }

    #navmenu-toggle {
        appearance: none;
    }

    .navmenu-icon {
        cursor: pointer;
        z-index: 10;
        display: block;
        position: absolute;
        top: 15px;
        left: unset;
        right: 20px;
        width: 20px;
        height: 20px;
        border: none;
    }

    [dir="rtl"] .navmenu-icon {
        left: 20px;
        right: unset
    }

    #navmenu-toggle ~ nav {
        display: none;
    }

    #navmenu-toggle:checked ~ nav {
        display: block;
    }

    #navmenu-toggle ~ article {
        display: block;
    }

    #navmenu-toggle:checked ~ article {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    article {
        padding-top: 0px;
        width: 100%;
    }

    aside {
        padding: 1em 0.75em;
        width: 100%;
    }

    .footer {
        display: grid;
        grid-template-columns: 10px auto 10px;
    }

    .footer .version {
        grid-column: 2;
        justify-self: start;
    }

    .footer .copy {
        grid-column: 2;
        grid-row: 2;
        justify-self: end;
    }


    @media screen and (max-width: 767px) and (orientation: landscape) {

        nav {
            padding: 25px 40px;
        }

        nav ul {
            margin: 0 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    fluent-select::part(control) {
        width: 150px;
    }

    .content {
        flex-direction: column;
    }

    aside {
        padding: 1.5em 0.75em 1em 0.75em;
        width: 100%;
        height: 100% !important;
        max-height: 100% !important;
    }
}