@page "/"
@using EasyWoWMacro.Business


<FluentDragContainer class="macro-container" TItem="string">
    
    <FluentCard Class="palette">
        <ul class="command-verb-list">
            @if (MacroItems.Commands.All != null)
            {
                foreach (var commandVerb in MacroItems.Commands.All)
                {
                    <div id="@commandVerb.Verb" class="command-verb-container">
                        <FluentDropZone Class="command-verb" Draggable="true" Droppable="false">
                            @commandVerb.DisplayName
                        </FluentDropZone>
                    </div>
                    <FluentTooltip Delay="300" Anchor="@commandVerb.Verb" Position="TooltipPosition.Right" MaxWidth="150px">
                        @commandVerb.Description
                    </FluentTooltip>
                }
            }
        </ul>
    </FluentCard>
    
    <FluentCard Class="canvas">
        <FluentDropZone Style="width: 100%; height: 100%;" Droppable="true" Draggable="false">
            <div>Hello world</div>
        </FluentDropZone>
    </FluentCard>
</FluentDragContainer>

@code {
    
}