.editor-block {
    background-color: var(--neutral-layer-floating);
    border: 1px solid var(--accent-fill-rest);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 500px; /* Fixed height for editor */
    display: flex;
    flex-direction: column;
}

::deep .drop-area {
    flex-grow: 1;
    padding: 10px;
    border: 1px dashed var(--accent-fill-rest);
    background-color: var(--neutral-layer-2);
    border-radius: 4px;
    overflow-y: auto;
    height: 100%;
}

::deep .macro-command {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--neutral-stroke-rest);
    background-color: var(--neutral-layer-1);
    color: var(--neutral-foreground-rest);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

::deep .argument-panel {
    background-color: var(--neutral-layer-floating);
    padding: 10px;
    border: 1px solid var(--accent-fill-rest);
    border-radius: 8px;
    margin-top: 1rem;
}

.output-block {
    background-color: var(--neutral-layer-floating);
    border: 1px solid var(--accent-fill-rest);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

::deep .macro-output {
    padding: 10px;
    background-color: var(--neutral-layer-2);
    border: 1px solid var(--neutral-stroke-rest);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}