<div>
    <FluentHeader Class="siteheader">
        
        <a href="/" aria-label="Back to homepage">
            <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
                <img src="assets/wow-icon.svg" alt="Easy WoW Macro Logo" />
            </div>
        </a>
        <FluentLabel Typo="Typography.Header">Easy World of Warcraft Macro's</FluentLabel>
        
        <FluentSpacer/>

        <div class="links">
            <FluentAnchor Appearance="Appearance.Hypertext"
                          Href="https://wowpedia.fandom.com/wiki/Making_a_macro" Target="_blank" Rel="noreferrer noopener"
                          title="WoW Wiki making a macro" aria-label="Wow Wiki making a macro">
                <FluentIcon Value="@(new Icons.Regular.Size20.Info())" Color="Color.FillInverse" />
            </FluentAnchor>
        </div>

        <div class="settings">
            <SiteSettings />
        </div>
        
    </FluentHeader>
</div>